body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0%;
    height: 100%;
    background-color: #bbff004b;
}

header {
    width: 100%;
    
}

h1 {
    text-align: center;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: x-large;
}

#display {
    background-color: rgb(139, 153, 167);
    width: 316px;
    height: 140px;
    border-radius: 20px;
    padding: 15px;
    border: solid 3px rgba(0, 0, 0, 0.521);
    text-align: end;
    font-size: xxx-large;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#mini_display,
#main_display {
    margin: 0px;
}

#mini_display {
    font-size: x-large;
}

#input {
    margin-top: 15px;
    border-radius: 20px;
    padding: 7px;
    border: solid 3px rgba(0, 0, 0, 0.521);
    background-color: slategray;
    max-width: fit-content;
}

.span {
    display: flex;
}

.button {
    margin: 2px;
    width: 70px;
    height: 70px;
    border-radius: 15px;
    font-weight: 700;
    font-size: large;
}

.number {
    background-color: sandybrown;
}

.operator {
    background-color: aquamarine;
}

.clear {
    background-color: palevioletred;
}
